.notifications {
  height: 113px;
  width: 217px;
  background-color: white;
  position: fixed;
  overflow-y: auto;
  margin-left: -216px;
  border-color: grey;
  border-width: 2px;
  border-style: solid;
  padding: 7px;
}